table {
  width: 100%;

  .header {
    color: #3f51b5;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }
}

::ng-deep .example-element-detail {
  overflow: hidden;
  display: flex;
  justify-content: center;

  form {
    width: 100%;

    .form {

      .row{
        display: flex;
         flex-wrap: wrap;
      justify-content: space-around;

      .input-field{
        margin: 20px 10px;
        width: 28%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        label{
          display: block;
        }
        .input{
          width: 70%;
        input{
        
          height: 30px;
          width: 100%;
        }
        .error-msg {
          color: red;
          font-size: 12px;
          text-align: left
  
        }
      }
      }
      }

      

      
    }

    .button-container {
     margin: 0 10%;

      button {
        margin: 10px;
        width: 120px;
        cursor: pointer;
      }

      .mdc-button__label {
        display: flex;
        align-items: center;
      }

    }

  }


}